p Hi, payment was initiated for a purchase of your product on Paysmosmo.
p Order Number <strong>##{order.orderNumber}</strong>
p Payment status updated to <strong>"#{status}"</strong>
p Login to your account to see more details
