p Hi #{order.buyer.lastName} #{order.buyer.firstName},
    Tracking details has been added for your order number <strong>##{order.orderNumber}</strong>
p <strong>Tracking Details</strong><br/>#{trackingDetails}
p Login to your account to see more details
