p Hi #{order.buyer.lastName} #{order.buyer.firstName},
p All purchased item of your order <strong>#{order.orderNumber}</strong> delivered.
p Thank you for using Paysmosmo
p <a href="#{process.env.WEB_URL}/login}"> Login to your account</a> to see more details
