p Hi #{order.buyer.lastName} #{order.buyer.firstName},
p All purchased item of your order <strong>#{order.orderNumber}</strong> delivered.
p Thank you for using Paysmosmo
p Login to your account to see more details
