p Hello #{user.lastName} #{user.firstName}, your co-operative member status changed to #{status.toUpperCase()}.
p Please login to your dashboard for more info<br/>
    a(href=`${process.env.APP_URL}`) Login
