p Hi #{order.buyer.lastName} #{order.buyer.firstName} your order status changed
p Order Number <strong>##{order.orderNumber}</strong><br/> Status: <strong>#{status.toUpperCase()}</strong>
p Login to your account to see more details
