p Hello Admin,
p #{seller.lastName} #{seller.firstName} created a product <strong>#{product.name}</strong> which needs your review.
p Kindly <a href=#{process.env.WEB_URL}/login} login to your account</a> to review this product
